* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}
a, a:hover {
    color:#000
}
body {
    height: 100%;
    background-color: rgba(240, 240, 241, 1);
    /* padding: 20px; */
    font-size: 14px;
    user-select: none;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

section {
    padding: 20px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.title {
    margin-bottom: 20px;
}

.title > span {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}

.title > span:before {
    width: 100%;
    height: 10px;
    background: #FFD31C;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

footer a {
    display: inline-block;
}

footer .logo {
    width: 200px;
}

.link-list {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.link-list img {
    width: 30px;
    margin: 0 5px;
}

a.btn-primary, a.btn-primary:focus, a.btn-primary:visited, a.btn-primary:active {
    color: #000
}

a.btn-primary {
    display: inline-block;
    background-color: #FFD31C;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 20px;
    cursor: pointer;
}

a.btn-primary:hover {
    background-color: #FFDB30;
}

.hidden {
    position: absolute;
    opacity: 0;
}
